.home {
  margin-top: 260px;
  color: #fff;
  position: relative;

  .info {
    max-width: 450px;
    margin-left: 165px;

    h3 {
      font-family: "Barlow Condensed", Arial, Helvetica, sans-serif;
      font-size: 28px;
      letter-spacing: 4.72px;
      margin-bottom: 24px;
    }

    h1 {
      font-family: "Bellefair", Arial, Helvetica, sans-serif;
      font-weight: 400;
      font-size: 150px;
      margin-bottom: 24px;
    }

    p {
      font-family: "Barlow", Arial, Helvetica, sans-serif;
      font-size: 18px;
      line-height: 32px;
      max-width: 444px;
    }
  }

  .explore {
    position: absolute;
    left: 950px;
    // bottom: 300px;
    // top: calc(50% - 37px / 2 + 0.5px);
    top: 85px;
    color: #0b0d17;
    background: #fff;
    width: 274px;
    height: 274px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    h1 {
      font-family: "Bellefair", Arial, Helvetica, sans-serif;
      font-size: 32px;
      font-style: normal;
      font-weight: normal;
      letter-spacing: 2px;
    }
  }
}
